{% extends 'base.html' %}
{% block titulo %}Recipe Share{% endblock %}
{% block contenido %}


{% include '_menu.html' %}
<div class="container mt-5">
    <h1>Welcome, {{session['nombre']}}</h1>
</div>
<div class="container mt-5">
    <div class="collapse navbar-collapse d-flex">
        <div class="col-md-12 col-lg-6 d-flex" style="justify-content: space-around"> 
            <h2>{{receta.nombre}}</h2>
            <p id="posted">Posted by: {{receta.usuario_nombre}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <table class="table table-striped table-dark">
                <tbody>
                    <tr>
                        <td>Description:</td>
                        <td>{{receta.descripcion}}</td>
                    </tr>
                    <tr>
                        <td>Under 30 minutes?</td>
                        <td>{% if receta.under_30 == 0%}
                                No
                            {% else %}
                                Yes
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Instructions:</td>
                        <td>{{receta.instruccion}}</td>
                    </tr>
                    <tr>
                        <td>Date Made:</td>
                        <td>{{receta.date_made}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}